:root {
    --primary-color: #044389;
    --secondary-color: #f0f0f0;
    --accent1-color: #ffad05;
    --accent2-color: #5995ed;
    --heading-font: 'Roboto', sans-serif;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}
a {
    text-decoration: none;
}
.hero{
    background-image: url('images/hero.png');
    position: relative;
    background-size: cover;
    width: 100%;
    height: 900px
} 
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: var(--accent1-color);
}
.hero2 image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: var(--accent1-color);
}
 article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    max-width: 2000px;
    border: thin solid var(--primary-color);
}
section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    max-width: 2000px;
    border: thin solid var(--primary-color);
}
section p {
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary-color);
    max-width: 2000px;
    border: thin solid var(--secondary-color);
}
figcaption {
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    max-width: 2000px;
    border: thin solid var(--primary-color);
}
footer {
    display: flex;
    justify-content: flex-end;
    clear: both;
    padding: 2rem;
    background-color: var(--secondary-color);
    text-align: center;
    border: thin solid var(--primary-color);
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    max-width: 1850px;
    background-color: var(--secondary-color);
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
}
nav a {
    color: var(--accent1-color);
    font-weight: 500;
    position: relative;
    padding: 6px;
}
form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    max-width: 2000px;
    border: thin solid var(--primary-color);
}
form input[type="text"] {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
}
button {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--accent1-color);
}
button:hover {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}
form input[type="email"] {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
}
form input[type="password"] {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
}
form input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
form input[type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.form-item{
    display: grid;
    align-items: center;
}
.form-item label{
    text-align: left;
    font-size: 1.2em;
    padding-right: 1rem;
}
.form-item input, .form-item select, .form-item textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}