:root {
    --primary-color: #044389;
    --secondary-color: #f0f0f0;
    --accent1-color: #ffad05;
    --accent2-color: #5995ed;
    --heading-font: 'Roboto', open-sans, Roboto;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
    .open-sans{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
h1{
    font: 700 2.5rem 'Roboto', open-sans, Roboto;
    color: var(--primary-color);
    position: absolute;
}
h2{
    font: 700 2rem 'Roboto', open-sans, Roboto;
    color: var(--primary-color);
}
p{
    font: 400 1rem 'Roboto', open-sans, Roboto;
    color: var(--accent1-color);
}
#a{
    text-decoration: none;
}
.rafting1 img{
    display: block;
    width: 100%;
    height: auto;
}
article{
    position:absolute;
    color: var(--accent2-color);
}
.rafting2 img{
    float: right;
}